@font-face {
    font-family: 'IBM Plex Sans';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("IBMPlexSans-Regular.ttf") format("ttf"),
    url("IBMPlexSans-Regular.ttf") format("ttf");
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("IBMPlexSans-Medium.ttf") format("ttf"),
    url("IBMPlexSans-Medium.ttf") format("ttf");
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("IBMPlexSans-Bold.ttf") format("ttf"),
    url("IBMPlexSans-Bold.ttf") format("ttf");
}