.form__list-item {
    height: 50px;
    display: grid;
    align-items: center;
    font-size: 16px;
    line-height: 1.3;
    color: #756F86;
    padding-left: 16px;
}

.form__list-item:hover {
    background-color: #EBF4F8;
}